<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBydU7tUM9LtfixkjnDQafjXfIl0U_HZAk</string>
	<key>GCM_SENDER_ID</key>
	<string>246821847720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolioWebsite</string>
	<key>PROJECT_ID</key>
	<string>my-portfolio-website-78089</string>
	<key>STORAGE_BUCKET</key>
	<string>my-portfolio-website-78089.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246821847720:ios:e7ea82caa9cd92806ab89d</string>
</dict>
</plist>